.container {
  height: 100%;
  font-size: 24px;
  max-width: 500px;
}

.conditionText {
  grid-area: conditionText;
  text-align: center;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillContainer {
  display: grid;
  grid-area: pillContainer;

  grid-template-columns: 1fr 1fr;

  .pill {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    margin: 1rem;
    border-radius: 10%;
    text-align: center;
  }
}

.cityContainer {
  display: flex;
  grid-area: cityContainer;

  justify-content: space-between;
  padding: 1rem;

  .country {
    font-weight: 700;
  }

  .search {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}

.tempContainer {
  display: grid;
  grid-area: tempContainer;
  grid-template-areas:
    'date conditionText'
    'temp icon';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 150px;
  position: relative;
  margin: 2.5rem 0;

  .date {
    grid-area: date;
    height: 100%;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weatherIcon {
    grid-area: icon;
    height: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .temp {
    z-index: 2;
    grid-area: temp;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .tempNumber {
      text-align: center;
      font-size: 4rem;
    }
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'cityContainer cityContainer'
      'tempContainer pillContainer';

    .pillContainer {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        '. .'
        'pill1 pill2'
        'pill3 pill4'
        '. .';

      .pill1 {
        grid-area: pill1;
      }
      .pill2 {
        grid-area: pill2;
      }
      .pill3 {
        grid-area: pill3;
      }
      .pill4 {
        grid-area: pill4;
      }
    }

    .tempContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.25fr 1.25fr 0.75fr 0.75fr;
      grid-template-areas:
        'icon icon'
        'icon icon'
        'date temp'
        'conditionText temp';

      .conditionText {
        align-items: start;
      }

      .date {
        align-items: end;
      }
    }
  }
}
