.container {
  height: 100%;
  font-size: 24px;
}

.country {
  font-weight: 700;
}

.temp {
  text-align: center;
  font-size: 10rem;
}

.date {
  text-align: center;
}

.pillContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pill {
  background-color: brown;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10%;
  text-align: center;
}
